<!-- -->
<launch>
    <arg name='town' default='Town05'/>
    <arg name='role_name' default='ego_vehicle'/>
    <arg name="enable_openplanner_simulation" default="false"/>
    <arg name="enable_object_insert" default="false"/>
    <arg name="kml_map_path"        default="/home/kuriatsu/Source/catkin_ws/src/enjoy_carla/waypoint/town1.kml" if="$(eval town=='Town01')"/>
    <arg name="kml_map_path"        default="/home/kuriatsu/Source/catkin_ws/src/enjoy_carla/waypoint/town4.kml" if="$(eval town=='Town04')"/>
    <arg name="kml_map_path"        default="/home/kuriatsu/Source/catkin_ws/src/enjoy_carla/waypoint/town5.kml" if="$(eval town=='Town05')"/>
    <arg name="kml_map_source"      default="2"/><!-- Autoware=0, Vector Map Folder=1, kml file=2, lanelet2 file=3, kml map file path from runtime manager = 4 -->
    <arg name="carla-autoware_path" default="/home/kuriatsu/Source/carla-autoware"/>
    <arg name="op_logs_experiment_folder_name" default="carla"/>

    <!-- <arg name='role_name' default='ego_vehicle'/>
    <arg name="enable_openplanner_simulation" default="false"/>
    <arg name="enable_object_insert" default="false"/>
    <arg name="kml_map_path" default=""/>
    <arg name="kml_map_source" default=""/>
    <arg name="carla-autoware_path" default=""/>
    <arg name="op_logs_experiment_folder_name" default="carla"/> -->

    <!-- <include file="$(arg carla-autoware_path)/autoware_launch/hdmap_loader.launch"/> -->

    <!-- <include file="$(arg carla-autoware_path)/autoware_launch/ground_filter.launch"/> -->

    <!-- <include file="$(arg carla-autoware_path)/autoware_launch/localization.launch">
    <arg name='role_name' value='$(arg role_name)'/>
    </include> -->

    <include file="$(arg carla-autoware_path)/autoware_launch/vel_pose_connector.launch"/>

    <!-- <include file="$(arg carla-autoware_path)/autoware_launch/object_detection_tracking.launch">
    <arg name='role_name' value='$(arg role_name)'/>
    <arg name='enable_openplanner_simulation' value='$(arg enable_openplanner_simulation)'/>
    <arg name='enable_object_insert' value='$(arg enable_object_insert)'/>
    </include> -->

    <include file="$(arg carla-autoware_path)/autoware_launch/op_global_planner.launch">
        <arg name="op_logs_experiment_folder_name" value='$(arg op_logs_experiment_folder_name)'/>
        <arg name="kml_map_path" value='$(arg kml_map_path)'/>
        <arg name="kml_map_source"    value='$(arg kml_map_source)' />
    </include>

    <include file="$(arg carla-autoware_path)/autoware_launch/op_common_params.launch">
        <arg name="op_logs_experiment_folder_name" value='$(arg op_logs_experiment_folder_name)'/>
        <arg name="kml_map_path" value='$(arg kml_map_path)'/>
        <arg name="kml_map_source"    value='$(arg kml_map_source)' />
    </include>

    <include file="$(arg carla-autoware_path)/autoware_launch/op_local_planner.launch">
        <arg name='enable_openplanner_simulation' value='$(arg enable_openplanner_simulation)'/>
        <arg name='enable_object_insert' value='$(arg enable_object_insert)'/>
        <arg name="kml_map_path" value='$(arg kml_map_path)'/>
        <arg name="kml_map_source"    value='$(arg kml_map_source)' />
    </include>

    <!-- <include file="$(arg carla-autoware_path)/autoware_launch/traffic_light_detector.launch">
    <arg name='role_name' value='$(arg role_name)'/>
    </include> -->

    <include file="$(arg carla-autoware_path)/autoware_launch/high_level_controller_direct.launch"/>

</launch>
