<!-- -->
<launch>
<arg name="op_logs_experiment_folder_name" default=""/>
<arg name="kml_map_path" default=""/>
<arg name="kml_map_source" default=""/>

  <!--
    # open planner common params #
    @todo: still required?
  -->
<include file="$(find op_local_planner)/launch/op_common_params.launch">
	<arg name="mapSource" 			value='$(arg kml_map_source)' /> <!-- Autoware=0, Vector Map Folder=1, kml=2 -->
	<arg name="mapFileName" 		value='$(arg kml_map_path)' />

	<arg name="pathDensity" 		default="0.5" />
	<arg name="rollOutDensity" 		default="0.5" />
	<arg name="rollOutsNumber" 		default="2"    />

	<arg name="maxLocalPlanDistance" 	default="100" />
	<arg name="horizonDistance" 		default="120"  />

    <!-- starts considering the detected object. The obstacle farther than this value is not considered as reliable. -->
	<arg name="minFollowingDistance" 	default="50.0"  /> <!-- should be bigger than Distance to follow -->
    <arg name="minDistanceToAvoid" 		default="10.0" /> <!-- should be smaller than minFollowingDistance and larger than maxDistanceToAvoid -->
	<arg name="maxDistanceToAvoid" 		default="9.0"  /> <!-- should be smaller than minDistanceToAvoid -->
	<arg name="speedProfileFactor"		default="1.0"  /> <!-- more higher more high speed in curve-->

	<arg name="smoothingDataWeight"		default="0.45"  />
	<arg name="smoothingSmoothWeight"	default="0.4"  />

	<arg name="horizontalSafetyDistance"	default="0.4"  />
	<arg name="verticalSafetyDistance"	default="0.5"  />

	<arg name="enableSwerving" 		default="false"  />
	<arg name="enableFollowing" 		default="true" /> <!-- If disabled, the vehicle ignores obstacles -->
	<arg name="enableTrafficLightBehavior"  default="false" />
	<arg name="enableStopSignBehavior" 	default="true" />
	<arg name="enableLaneChange" 		default="false" />

	<!-- Vehicle Info, shared with controller and simulation -->
	<arg name="height" 			default="1.47"  />
	<arg name="front_length"		default="1.0"  />
	<arg name="back_length"			default="0.6"  />
	<arg name="width" 			default="1.85"  />
	<arg name="length" 			default="4.2"  />
	<arg name="wheelBaseLength" 		default="2.7"  />
	<arg name="turningRadius"		default="5.2"  />
	<arg name="maxWheelAngle" 		default="0.45" /> <!-- 0.8 is for bus-->
	<arg name="steeringDelay" 		default="0.5" />
	<arg name="minPursuiteDistance" 	default="1.5" />
	<arg name="maxVelocity" 		default="11.1" />
	<arg name="minVelocity" 		default="0.0" />
	<arg name="maxAcceleration" 		default="1.47" />
	<arg name="maxDeceleration" 		default="-1.47" />
	<!-- Internal ACC parameters -->
	<arg name="use_internal_acc" 		default="true" />
	<arg name="accelerationPushRatio" 	default="60" />
	<arg name="brakingPushRatio" 		default="2" /> <!-- 10 is sufficient, or change Deceleration and this value at the same time-->
	<arg name="curveSlowDownRatio" 		default="0.5" /> <!-- percentage * braking distance in local planner (distance)-->
	<!-- ................................................... -->

	<arg name="additionalBrakingDistance"   default="0.0" />
	<arg name="giveUpDistance" 		default="0.0"  />

	<arg name="velocitySource"		default="3" /> <!-- read velocities from (0- Odometry, 1- autoware current_velocities, 2- car_info 3- vehicle status) -->
	<arg name="vel_odom_topic"		default="/carla/ego_vehicle/odometry" />
	<arg name="vel_curr_topic"		default="/current_velocity" />
	<arg name="vel_can_topic"		default="/can_info" />
	<arg name="vehicle_status_topic"	default="/vehicle_status" />
	<arg name="experimentName" 		value='$(arg op_logs_experiment_folder_name)' />
	<arg name="objects_input_topic" 	default="/detection/contour_tracker/objects" />

  </include>

</launch>
