<!-- -->
<launch>
<arg name="op_logs_experiment_folder_name" default=""/>
<arg name="kml_map_path" default=""/>
<arg name="kml_map_source" default=""/>

  <!--
    # open planner, global planner params #
  -->
<include file="$(find op_global_planner)/launch/op_global_planner.launch">
	<arg name="pathDensity" 		default="1.0" /> <!-- distance between each two waypoints-->
	<arg name="enableSmoothing" 		default="false" />
	<arg name="enableLaneChange" 		default="false" />
	<arg name="enableRvizInput" 		default="true" />
	<arg name="enableHMI" 			default="false" />
	<arg name="experimentName" 		value='$(arg op_logs_experiment_folder_name)' />
	<arg name="enableReplan"    		default="true" />
	<arg name="goalConfirmDistance" 	default="150.0" />
	<arg name="velocitySource"		default="3" /> <!-- read velocities from (0- Odometry, 1- autoware current_velocities, 2- car_info 3- vehicle status) -->
	<arg name="mapSource" 			value='$(arg kml_map_source)' /> <!-- Autoware=0, Vector Map Folder=1, kml file=2, lanelet2 file=3, kml map file path from runtime manager = 4 -->
	<arg name="mapFileName" 		value='$(arg kml_map_path)' /> <!-- incase of kml map source -->
	<arg name="lanelet2_origin"		default="0,0,0" /> <!-- GPS origin for lanelet2 map files, Lat, Long, Alt  -->
	<arg name="destinationFileName" 	default="" />
  </include>


</launch>
