<!-- -->
<launch>
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>

  <arg name='town' default=''/>
  <arg name='role_name' default='ego_vehicle'/>
  <!-- use comma separated format "x,y,z,roll,pitch,yaw" -->
  <arg name='spawn_point' default='43.3791656494, -144.790603638, 1.0, 3.0804, 0, 0'/>
  <!--arg name='spawn_point' default=''/-->
  <!-- use comma separated format "x,y,z,quat_x,quat_y,quat_z, quat_w" -->
  <arg name="goal_point" default='41.4185562134, -211.274246216, 0.0, 0.0, 0.0, -0.0106333546412, 0.999943464286'/>
  <!--arg name="goal_point" default='' /-->

<!--
  <include file="$(find carla_autoware_bridge)/launch/carla_autoware_bridge_with_manual_control.launch">
    <arg name='host' default='$(arg host)'/>
    <arg name='port' default='$(arg port)'/>
  </include>
-->

  <!-- skip manual control, connect carla and autoware -->
  <include file="$(find carla_autoware_bridge)/launch/carla_autoware_bridge.launch">
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='town' value='$(arg town)'/>
    <arg name='role_name' value='$(arg role_name)'/>
    <arg name='spawn_point' value='$(arg spawn_point)'/>
    <arg name="goal_point" value="$(arg goal_point)" />
  </include>

  <include file="$(env CARLA_OPENPLANNER_ROOT)/autoware.launch"/>

</launch>

