<!-- -->
<launch>

  <!-- 
    # vel_pose_connect #
    the vehicle status is read and a can_velocity (geometry_msgs::TwistStamped) is calculated (by can_status_translator)
    In:  /vehicle_status
    In:  /can_info            (@todo not published yet)
    Out: /linear_velocity_viz (visualization of velocity)
    out: /can_velocity
  -->
  <include file="$(find autoware_connector)/launch/vel_pose_connect.launch">
    <arg name="topic_pose_stamped" value="/ndt_pose" />
    <arg name="topic_twist_stamped" value="/estimate_twist" />
  </include>

  <!-- 
    # open planner common params #
    @todo: still required?
  -->
<include file="$(find op_local_planner)/launch/op_common_params.launch">
	<arg name="mapSource" 			default="0" /> <!-- Autoware=0, Vector Map Folder=1, kml=2 -->
	<arg name="mapFileName" 		default="" />
		
	<arg name="pathDensity" 		default="0.5" />
	<arg name="rollOutDensity" 		default="0.2" />
	<arg name="rollOutsNumber" 		default="12"    />
	
	<arg name="maxVelocity" 		default="14.0" />
	<arg name="minVelocity" 		default="1.0" />	
	<arg name="maxLocalPlanDistance" 	default="30" />	
	<arg name="horizonDistance" 		default="100"  />
	
	<arg name="minFollowingDistance" 	default="12.0"  /> <!-- should be bigger than Distance to follow -->	
	<arg name="minDistanceToAvoid" 		default="8.0" /> <!-- should be smaller than minFollowingDistance and larger than maxDistanceToAvoid -->
	<arg name="maxDistanceToAvoid" 		default="3.0"  /> <!-- should be smaller than minDistanceToAvoid -->
	<arg name="speedProfileFactor"		default="1.3"  />
	
	<arg name="smoothingDataWeight"		default="0.45"  />
	<arg name="smoothingSmoothWeight"	default="0.49"  />	
	
	<arg name="horizontalSafetyDistance"	default="0.4"  />
	<arg name="verticalSafetyDistance"	default="0.5"  />
	
	<arg name="enableSwerving" 		default="false"  />
	<arg name="enableFollowing" 		default="true" />	
	<arg name="enableTrafficLightBehavior"  default="false" />
	<arg name="enableStopSignBehavior" 	default="false" />	
	<arg name="enableLaneChange" 		default="false" />	
	
	<arg name="width" 			default="1.85"  />
	<arg name="length" 			default="4.2"  />
	<arg name="wheelBaseLength" 		default="2.7"  />
	<arg name="turningRadius"		default="5.2"  />
	<arg name="maxSteerAngle" 		default="0.4" />

	<arg name="steeringDelay" 		default="0.0" />
	<arg name="minPursuiteDistance" 	default="3.0" />
	<arg name="additionalBrakingDistance"   default="10.0" />
	
	<arg name="giveUpDistance" 		default="-4.0"  />
	
	<arg name="maxAcceleration" 		default="3.0" />
	<arg name="maxDeceleration" 		default="-3.0" />
			
	<arg name="velocitySource"		default="0" /> <!-- read velocities from (0- Odometry, 1- autoware current_velocities, 2- car_info) "" -->	
	<arg name="experimentName" 		default="carla" />
  </include> 

</launch>
