<!-- -->
<launch>

  <!--
    # pure_pursuit #
    Follow a list of waypoints
    In:  /final_waypoints
    In:  /current_pose
    In:  /current_velocity
    Out: /ctrl_cmd
    Out: /twist_raw
    Out: /next_target_mark (@todo: not connected yet)
    Out: /trajectory_circle_mark (@todo: not connected yet)
  -->
 <node pkg="rostopic" type="rostopic" name="config_waypoint_follower_rostopic"
        args="pub -l /config/waypoint_follower autoware_config_msgs/ConfigWaypointFollower
        '{ header: auto, param_flag: 0, velocity: 47.0, lookahead_distance: 5.0, lookahead_ratio: 1.5, minimum_lookahead_distance: 3.0, displacement_threshold: 0.0, relative_angle_threshold: 0.0 }' " />
  <include file="$(find waypoint_follower)/launch/pure_pursuit.launch"/> 

  <!-- 
    # twist_filter #
    @todo: purpose?
    In:  /twist_raw
    In:  /decision_maker/state (@todo: not connected yet)
    Out: /vehicle_cmd (the combined vehicle command for actuator)
  -->
  <node pkg="rostopic" type="rostopic" name="config_twist_filter_rostopic"
        args="pub -l /config/twist_filter autoware_config_msgs/ConfigTwistFilter
        '{ header: auto, lateral_accel_limit: 2.0, lowpass_gain_linear_x: 0.0, lowpass_gain_angular_z: 0.0 }' " />
  <include file="$(find waypoint_follower)/launch/twist_filter.launch"/>


</launch>
